
.chessboard {
    width: 100%;
    box-sizing: border-box;
}

.rank {
    width: 100%;
    box-sizing: border-box;
}

.square {
    box-sizing: border-box;
    width: 12.5vw;
    height: 12.5vw;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


.container {
    display: flex;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gameplay {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1
}

.gameplay small {
    text-align: center;
}

.btn {
    /* font-size: x-large;
    margin: 5px 10px 0 10px;
    padding: 10px 10px;
    position: relative;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    transition: background-color .3s; */
    background-color:#dbd9d7;
    border-bottom: 1px solid#a7a6a2;
    color:#666463;
}

.icons {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 26.5px;
    width: 26.5px;
}

.chevron-left::before {
    content: "\002C";
}

.redo::before {
    content: "\1F22";
}

.danger {
    background-color: #ff4444;
}

.warning {
    background-color: #ffbb33;
}