.App {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.chessboard {
  width: 640px;
  height: 640px;
  border: 25px solid #333;
}

.square {
  box-sizing: border-box;
  float: left;
  width: 80px;
  height: 80px;
  font-size: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.black {
  background-color: #b58863;
}

.white {
  background-color: #f0d9b5;
}

.potential {
  border: 4px solid rgb(255, 238, 5);
}

.visited {
  background-color: grey;
}

button {
  margin: 5px 10px;
}